body
{
font-family: 'Open Sans', sans-serif;
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
margin: 0;
background: grey;
background-image: url('https://source.unsplash.com/1600x900/?landscape');


}
button:hover{
    background: #7c7c7c6b;
}
button{
    outline: none;
    margin: 6px;
    border: none;
    border-radius: 50%;
    height: 29px;
    width: 32px;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
img.icon {
    margin-left: -7px;
}
.card
{
    background: #000000d0;
    color: white;
    padding: 32px;
    border-radius: 30px;
    width: 100%;
    margin: 32px;
    max-width: 330px;
}
.description {
    text-transform: capitalize;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.temp {
    font-size: 23px;
    margin-bottom: 9px;
}
.flex{
    display: flex;
    align-items: center;
}
input.search-bar {
    outline: none;
    padding: 5px 15px;
    border-radius: 14px;
    font-size: 14px;
    font-family: inherit;
    background: #7c7c7c2b;
    color: white;
    width: 70%;
}
.weather.loading {
    visibility: hidden;
    max-height: 20px;
    position: relative;
  }
  
  .weather.loading:after {
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
  }